<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InitData</key>
	<dict>
		<key>AnchorPoint</key>
		<string>{0.5, 0.5}</string>
		<key>Opacity</key>
		<real>255</real>
		<key>Position</key>
		<string>{240, 160}</string>
		<key>Rotation</key>
		<real>0</real>
		<key>Scale</key>
		<string>{1, 1}</string>
	</dict>
	<key>AnimData</key>
	<dict>
		<key>AnchorPoint</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>AnchorPoint</key>
						<string>{0.5, 0.5}</string>
						<key>Duration</key>
						<real>0</real>
						<key>Type</key>
						<string>AnchorPointTo</string>
					</dict>
					<dict>
						<key>AnchorPoint</key>
						<string>{0.5, -0.73684210526315785}</string>
						<key>Duration</key>
						<real>0.3333333432674408</real>
						<key>Type</key>
						<string>AnchorPointTo</string>
					</dict>
					<dict>
						<key>AnchorPoint</key>
						<string>{0.5, 0.5}</string>
						<key>Duration</key>
						<real>1.5</real>
						<key>Type</key>
						<string>AnchorPointTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
		<key>Opacity</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Duration</key>
						<real>1.333333373069763</real>
						<key>Opacity</key>
						<real>255</real>
						<key>Type</key>
						<string>FadeTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.3333332538604736</real>
						<key>Opacity</key>
						<real>0</real>
						<key>Type</key>
						<string>FadeTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.1666667461395264</real>
						<key>Opacity</key>
						<real>255</real>
						<key>Type</key>
						<string>FadeTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
		<key>Position</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Duration</key>
						<real>0.3333333432674408</real>
						<key>Position</key>
						<string>{240, 160}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.3333333432674408</real>
						<key>Position</key>
						<string>{306, 160}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>1.166666746139526</real>
						<key>Position</key>
						<string>{240, 160}</string>
						<key>Type</key>
						<string>MoveTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
		<key>Rotation</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Angle</key>
						<real>0</real>
						<key>Duration</key>
						<real>1</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>90</real>
						<key>Duration</key>
						<real>0.3333333730697632</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
					<dict>
						<key>Angle</key>
						<real>0</real>
						<key>Duration</key>
						<real>0.5</real>
						<key>Type</key>
						<string>RotateTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
		<key>Scale</key>
		<dict>
			<key>Action</key>
			<dict>
				<key>Actions</key>
				<array>
					<dict>
						<key>Duration</key>
						<real>0.6666666865348816</real>
						<key>ScaleX</key>
						<real>1</real>
						<key>ScaleY</key>
						<real>1</real>
						<key>Type</key>
						<string>ScaleTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.3333333134651184</real>
						<key>ScaleX</key>
						<real>1.200000047683716</real>
						<key>ScaleY</key>
						<real>1.200000047683716</real>
						<key>Type</key>
						<string>ScaleTo</string>
					</dict>
					<dict>
						<key>Duration</key>
						<real>0.8333333730697632</real>
						<key>ScaleX</key>
						<real>1</real>
						<key>ScaleY</key>
						<real>1</real>
						<key>Type</key>
						<string>ScaleTo</string>
					</dict>
				</array>
				<key>Type</key>
				<string>Sequence</string>
			</dict>
			<key>Type</key>
			<string>RepeatForever</string>
		</dict>
	</dict>
</dict>
</plist>
